<%- include('index.ejs') %>
<h1>Air Signs:</h1>

<ul>
    <% airSigns.forEach(airSigns => { %>
        <li><%= airSigns %></li>
    <% }) %>
</ul>

<h2>Traits</h2

<ul>
<% airTraits.forEach(airTraits => { %>
   <li><%= airTraits %></li>
<% }) %>
</ul>

<nav>
    <ul>
       
        <li><a href="./images/aquarius.png">Aquarius</a></li>
        <li><a href="/fire">Fire Signs</a></li>
        <li><a href="/earth">Earth Signs</a></li>
    </ul>
</nav>