<%- include("partials/header.ejs") %>
<h1>Zodiac Controllers</h1>
<h2>Let's learn about the signs!</h2>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/water">Water Signs</a></li>
        <li><a href="/air">Air Signs</a></li>
        <li><a href="/fire">Fire Signs</a></li>
        <li><a href="/earth">Earth Signs</a></li>
    </ul>
</nav>

<%- include("partials/footer.ejs") %>