<%- include("partials/header.ejs") %>

<h2>Zodiac Signs</h2>

<a href="/air">air</a>
<a href="/fire">fire</a>
<a href="/water">water</a>
<a href="/earth">earth</a>


<%- include("partials/footer.ejs") %>